<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="text-primary">todo</h1>
    </div>
</div>
<form [ngFormModel]="form" (submit)="onSave(task)">
<div class="row">
    <div class="col-md-12">
            <label>Todo task</label>
            <input ngControl="task" placeholder="My Task" required="required"/>
    </div>
</div>
<div *ngIf="task.dirty && !task.valid">
    <p class="error" *ngIf="task.errors.required">Todo is required.</p>
    <p class="error" *ngIf="task.errors.isString">Todo can't be a number</p>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="submit" [disabled]="!form.valid">SAVE</button>
    </div>
</div>


<button class="text-primary btn-sm btn-success" (click)="onBack()">BACK</button>
</form>